body {
    padding: 24px;
    width: 500px;
    text-align: center;
}

input {
    width: 100%;
}

#content {
    width: 100%;
}

.btn-secondary{
	color: white;
    background-color: #2E4053;
    border-color: #ccc;
}

div img {
    position: absolute;
    left: 5px;
    bottom: 2px;
    max-width: 90%;
  	max-height: 90%;
}

div{
	margin-bottom: 4px;
}

div span {
	display:inline-block;
    width: 80%;
    overflow:hidden;
    text-overflow:ellipsis;
}

