body {
    padding: 24px;
    width: 500px;
    text-align: center;
}

input {
    width: 100%;
}

#content {
    width: 100%;
}

.btn-secondary{

    color: #292b2c;
    background-color: #e6e6e6;
    border-color: #adadad;
    padding: 10px 20px;
    font-size: 20px;
}

.btn-secondary:hover{
    color: white;
    background-color: #5D6D7E;
    border-color: #ccc;
}

div img {
    position: absolute;
    left: 5px;
    bottom: 10%;
    max-width: 80%;
  	max-height: 80%;
}


div span {
	display:inline-block;
    width: 80%;
    overflow:hidden;
    text-overflow:ellipsis;
}

.btn-danger {
    color: black;
    background-color: #FADBD8;
    border-color: #c12e2a;
     
}

.focusedResult {
    color: white;
    background-color: #5D6D7E;
    border-color: #ccc;
}
.focusedClosed {
    color: #fff;
    background-color: #c9302c;
    border-color: #c12e2a;

}

.fixed {
    position: fixed;
}