body {
    padding: 24px;
    width: 500px;
    text-align: center;
}

input {
    width: 100%;
}

#content {
    width: 100%;
}

.btn-secondary{
	color: white;
    background-color: #5D6D7E;
    border-color: #ccc;
    padding: 10px 20px;
    font-size: 20px;
}

div img {
    position: absolute;
    left: 5px;
    bottom: 10%;
    max-width: 80%;
  	max-height: 80%;
}


div span {
	display:inline-block;
    width: 80%;
    overflow:hidden;
    text-overflow:ellipsis;
}

.btn-danger {
    padding: 10px 20px;       
}